* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
   
  /* Style App.js wrapper */
  .App {
    height: 100vh;
    background: #bed6db;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
   
  /* Tab Container */
  .Tabs {
    width: 80%;
    min-height: 400px;
   
    padding: 2rem 1rem;
    color: #E8F0F2;
  }
   
  .react-tabs {
    -webkit-tap-highlight-color: transparent;
  }
   
  .react-tabs__tab-list {
    width: 60%;
    margin: 0 auto 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #39A2DB;
    border-radius: 2rem;
    padding-left: 0px;
  }
   
  .react-tabs__tab {
    width: 50%;
    padding: 1rem;
    list-style: none;
    text-align: center;
    cursor: pointer;
    transition: all 0.7s;
  }
   
  .react-tabs__tab--selected {
    background: #5d92ee;
  }
   
  .react-tabs__tab--disabled {
    color: GrayText;
    cursor: default;
  }
   
  .react-tabs__tab:hover {
    background: rgba(50, 224, 196, 0.15);
  }
   
  .react-tabs__tab:first-child {
    border-bottom-left-radius: 2rem;
    border-top-left-radius: 2rem;
  }
   
  .react-tabs__tab:last-child {
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
  }
   
  .react-tabs__tab-panel {
    display: none;
  }
   
  .react-tabs__tab-panel--selected {
    display: block;
    font-size: 2rem;
    text-align: center;
  }
  .home-page {
    background-color: rgb(208, 206, 206);
    height: 100vh;
    background-size: cover;
    padding: 70px 60px 70px 60px;
  }
  .home-part-container {
    background-color: white;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
  }
  .login-container {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .image-container-123 {
    height: 100%;
    width: 50%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0px;
    margin: 0px;
  }
  .home-page-image {
    width: 100%;
    height: 100%;
    
  }
  .login-head {
     font-family: "Playfair Display";
     font-size: 30px;
     font-weight: bold;
     text-align: center;
     margin-bottom: 15px;
  }
  .login-input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .login-label {
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .login-input {
    width: 250px;
    border: 1px solid #000000;
    margin-bottom: 10px;
  }

  .login-bottom {
    margin-top: 30px;
    display: flex;
    align-items: center;
  }
  .signup {
    border: none;
    cursor: pointer;
    outline: none;
    color: #5d92ee;
    font-size: 20px;
    font-family: "Roboto";
    font-weight: bold;
    margin-left: 10px;
    background-color: transparent;
  }
  .login-top {
    width: 100%;
    text-align: center;
    margin-left: 30px;
    margin-bottom: 50px;
  }
  .login-govt {
    font-size: 55px;
    font-family: 'Roboto';
    font-weight: bold;
  }
  .form-contianer {
    background-color: aliceblue;
    width: auto;
    height: auto;
    border-radius: 50px;
    padding: 20px;
}

h1 {
    color: black;
    font-size: 25px;
}

input {
    height: 35px;
    width: 35%;
    padding: 5px;
    border-radius: 5px;
    border: 5px;
}
select {
    width: 36%;
    height: 25px;
    padding: 2px;
    border: 5px;
    border-radius: 5px;
}

.errormsg {
    color: brown;
    font-size: 15px;
}
.glow-on-hover {
    width: 75px;
    height: 40px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin: 5px;
}
.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}
.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}




@keyframes glowing {

    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }

}

.error {
    color: red;
    font-size: 15px;
    font-weight: bold;
    font-family: "Roboto";
}

.image {
  width: 200px;
  height: 200px;
}
.input-button {
  background-color: rgb(53, 163, 194);
  color: #000000;
  font-weight: bold;
}
.image-container {
  background-color: aliceblue;
  height: 450px;
  width: 90%;
  padding: 25px;
}


.c {
  width: 100px;
}
.button-container {
 display: flex;
 align-items: center;
 justify-content: center;
}
.home-page-container {
     height: 100vh;
     background-color: #bed6db;
     background-size: cover;
     overflow-y: auto;
     display: flex;
     flex-direction: column;
     align-items: center;
}

.home-nav-container {
  height: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-top: 40px;
}
.home-page-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;

}

.card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 350px;
  width: 350px;
  border-radius: 5px;
  background-color: #bed6db;
}
.bc {
  height: 300px;
  width: 300px;
  margin-bottom: 10px;
  border: 1px solid #000000;
  font-weight: bold;
  font-size: 25px;
  font-family: "Roboto";
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: #ffffff 0px 5px 15px;
  
}

.passport {
    font-weight: bold;
    font-family: "Roboto";
    color: #16112b;
    background-color: #b1ec99;
    padding: 20px;
    text-align: center;
}
.card-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 15px;
}
.passport-image {
  width: 100px;
  height: 100px;
  border-radius: 2px;
}
.signature {
  height: 50px;
  width: 90%;
  margin-top: 15px;
  margin-left: 20px;
}
.h1-f {
  color: #16112b;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}
.s-m {
  font-size: 15px;
  font-weight: bold;
  color: #7a00ff;
  padding-bottom: 3px;
  border-bottom: 1px solid #16112b;
}
.va {
  margin-left: 25px;
}
.bn {
  margin-top: 20px;
}
.captured-image {
  width: 250px;
  height: 250px;
}
.video {
  width: 250px;
  height: 250px;
}
.ima {
   width: 100px;
   height: 100px;
}
.grid-page {
  height: 100vh;
  text-align: center;
  overflow-y: auto;
  background-color: #b1ec99;

}
.card-containers {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  
}
.u {
  font-size: 50px;
  font-weight: bold;
  font-family: "Roboto";
  margin-top: 20px;
  margin-bottom: 30px;
}
.tama {
  color: #ff7300;
}